

.jumbo {
  background: #000 center center;
  background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("cover5.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  /*opacity: 0.6;*/
  /*-webkit-text-stroke-width: 3px;*/
  /*-webkit-text-stroke-color: black;*/
}

.tablebg {
  background-color: white;
}

.placeCenter {
  text-align: center;
}

.main {
  background-color: #eee;
}