div.menuItem a {
  width: 220px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

div.menuItem a p {
  margin-top: 45px;
}

div.socialMenuItem {
  margin-top: 0px;
  margin-bottom: 0px;
}

div.socialMenuItem a {
  width: 300px;
  height: 100px;
  display: inline-block;
  margin: 20px;
}

div.socialMenuItem a p {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

.marginstuff {
  margin-left: 250px;
  margin-right: 250px;
}

.staffName {
  font-weight: bold;
  font-size: 27px;
  -webkit-text-stroke: .5px white;
}

ul li {
  font-size: 17px;
}

body {
  background-color: #EFEFEF;
}

.section {
  border: 1px solid #E3E3E3;
  background-color: white;
}

div.jumbotron {
  margin-bottom: 0px;
}

.bodySection {
  border: 1px solid #E3E3E3;
  background-color: white;
  padding-bottom: 20px;
}

th {
  font-size: 15px;

}

td {
  font-size: 15px;
}
