$bg-color: #369;

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-child {
  background: $bg-color;
  color: white;
  margin: auto;
  height: 500px;
  width: 100%;
}