.item-input {
  /*padding-top: 20px;*/
  padding-bottom: 50px;
  text-align: center;
}

.grocery-container {
  max-width: 75%;
  margin: auto;
  padding-bottom: 50px;
}

.grocery-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.grocery-card {
  text-align: center;
  display: flex;
}

.grocery-item-type-buttons {
  padding: 20px;
  width: 40%;
  margin: auto;
}
/*.grocery-item {
  background-color: green;
  margin: 2px;
  padding: 2px;
  transition: background-color 2s;
}

.grocery-item:hover {
  background-color: red;
}*/

.app-content {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1050px) {
  .app-content {
    display: flex;
    flex-direction: row;
  }

  .grocery-item-type-buttons {
    /*padding: 20px;*/
    width: 85%;
    margin: auto;
  }

  .grocery-input {
    padding-top: 5vh;
    background-color: #f4f4f4;
    margin: 5px;
    /*height: 80%;*/
  }
}

.expired-already {
  background-color: #db2828;
}

.expiring-soon {
  background-color: #21ba45;
}
