.item-input {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.grocery-container {
  max-width: 50%;
  margin: auto;
  padding-bottom: 50px;
}

.grocery-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.grocery-card {
  text-align: center;
  display: flex;
}

/*.grocery-item {
  background-color: green;
  margin: 2px;
  padding: 2px;
  transition: background-color 2s;
}

.grocery-item:hover {
  background-color: red;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
