$sfGold: rgb(153, 120, 89);
$sfRed: rgb(255, 115, 94);
$sfMint: rgb(1, 187, 180);
$sfWarmGrey: rgb(132, 124, 120);

// Secondary colors
$sfDarkMint: rgb(1, 173, 165);
$sfLightMint: rgb(65, 210, 207);
$sfDarkGrey: rgb(69, 54, 53);
$sfSand: rgb(243, 239, 236);
$sfMTHeader: #ede7e3;
$sfMTBackground: rgb(247, 245, 242);
$sfOffWhite: rgb(255, 253, 251);

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: $sfGold;
}

.enter circle {
  fill: $sfMint;
}

.update circle {
  fill: $sfWarmGrey;
}

.exit circle {
  fill: $sfRed;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
